<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - SialaTTI portal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SialaTTIMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .dropdown-item:hover {
            color: white;
            background-color: darkslategray;
        }
    </style>
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" <b> Student Dashboard</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" ><i class="fa fa-money icon-margin" aria-hidden="true"></i>Finance</a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ProformaInvoice">
                                <i class="fa fa-file pe-2 icon-margin" aria-hidden="true"></i>Proforma invoice</a></li>

                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="FeeStatement">
                                    <i class="fa fa-sticky-note-o icon-margin" aria-hidden="true"></i>Fee statement</a></li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ChangePassword">
                                    <i class="fa fa-file-pdf-o icon-margin" aria-hidden="true"></i>Payment Receipts</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="FeeStructure">
                                    <i class="fa fa-file-pdf-o icon-margin" aria-hidden="true"></i>Fee Structure</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark"><i class="fa fa-graduation-cap icon-margin" aria-hidden="true"></i>Academics</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ProvisionalResults">
                                    <i class="fa fa-sticky-note-o icon-margin" aria-hidden="true"></i> Provisional Results
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ProvisionalTranscript">
                                    <i class="fa fa-sticky-note-o icon-margin" aria-hidden="true"></i> Provisional Transcript
                                </a>
                            </li>
                        </ul>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" ><i class="fa fa-pencil icon-margin" aria-hidden="true"></i>Registrations</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SemRegister">Semester Registration</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="UnitRegistration">Unit Registration</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SpecialExams">Special Exams</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LecturerEvaluation"><i class="fa fa-id-card-o icon-margin" aria-hidden="true"></i>Lecturer Evaluation</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
<div class="container-fluid">
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        
    </div>
    
    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - <a href="https://appkings.co.ke/">Developed By Appkings solutions LTD</a>
        </div>
    </footer>
<!-- Bootstrap JS and other dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> *@
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
   
    
</body>
</html>
