@model SialaTTIMVC.Models.ChangePassModel;
@{
    Layout = "./_ChangePassLayout.cshtml";
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-sm-6 mx-auto shadow border-1 rounded border p-5">
        <div class="card-header mt-0 py-3">
            <div class="row">
                <div class=" text-center">
                    <h2><b>Change Password </b></h2>
                </div>

            </div>
        </div>

        <div class="card-body pt-4 col-12">
            <form id="account" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="CurrentPassword" class="form-control" autocomplete="on" aria-required="true" placeholder="name@example.com" style="border-radius:10px;" />
                    <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="NewPassword" class="form-control" aria-required="true" placeholder="password" style="border-radius:10px;" />
                    <label asp-for="NewPassword" class="form-label">New Password</label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" aria-required="true" placeholder="password" style="border-radius:10px;" />
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="pb-4">
                    <button id="login-submit" type="submit" class="w-50 offset-sm-3  btn btn-lg btn-success " style="border-radius:10px;">Submit</button>
                </div>

            </form>
            
           
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}