@{
    Layout = "./_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Billed:</span>
                    <span class="info-box-number">
                        Ksh.
                        
                    </span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <a href="" class="small-box-footer white" style="color: white">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Paid:</span>
                    <span class="info-box-number">
                        Ksh.
                       
                    </span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 20%"></div>
                    </div>
                    <a href="" class="small-box-footer white" style="color: white">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- /.info-box -->
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Balance:</span>
                    <span class="info-box-number">
                        Ksh.
                        
                    </span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 40%"></div>
                    </div>
                    <a href="" class="small-box-footer white" style="color: white">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>

    <!-- Main row -->
    <div class="row">
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">User Profile</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body box-profile">
                    @* <asp:Image ID="ImgProfileDefault" runat="server" Visible="false" CssClass="profile-user-img img-responsive img-circle" alt="User profile picture" Height="200px" Width="200px" />
                    <asp:Image ID="ImgProfilePic" runat="server" CssClass="profile-user-img img-responsive img-circle" alt="User profile picture" Height="200px" Width="200px" /> *@
                    <h3 class="profile-username text-center">
                        
                    </h3>

                    <strong><i class="fa fa-book margin-r-5"></i>Programme</strong>

                    <p class="text-muted">
                        
                    </p>
                    <hr>
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#">
                                My Stage
                                <span class="pull-right text-red">
                                    <i class="fa fa-angle-down"></i>
                                    
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
               @*  <%-- <div class="box-footer clearfix">
                    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
                </div>--%> *@
                <!-- /.footer -->
            </div>
        </div>
        <!-- Left col -->
        <div class="col-md-8">
            <!-- MAP & BOX PANE -->
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Personal Information</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-default3"><i class="fa fa-edit"></i>Update Center</button>
                        <button type="button" class="btn btn-sm btn-primary " data-toggle="modal" data-target="#modal-default2"><i class="fa fa-edit"></i>Update Index Number</button>
                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-default"><i class="fa fa-edit"></i>Update Profile</button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <tbody>
                                <tr>
                                    <td><a href="#">Admission No:</a></td>
                                    <td>
                                        <div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">ID/ Passport:</a></td>
                                    <td>
                                        <div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Full Name:</a></td>
                                    <td>
                                        <div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Gender:</a></td>
                                    <td>
                                        <div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Date of Birth:</a></td>
                                    <td>
                                        <div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Phone Number:</a></td>
                                    <td>
                                        <div>
                                          
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Email Address:</a></td>
                                    <td>
                                        <div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Postal Address:</a></td>
                                    <td>
                                        <div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Center/Campus:</a></td>
                                    <td>
                                        <div>
                                            
                                        </div>
                                    </td>
                                </tr>
                             
                               @*  <tr>
                                    <td><a href="#">University Email:</a></td>
                                    <td>
                                        <div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">University Email Password:</a></td>
                                    <td>
                                        <div>
                                            <asp:Label ID="lblMailPass" runat="server"></asp:Label>&nbsp;<asp:Label ID="Label4" runat="server"></asp:Label>
                                        </div>
                                    </td>
                                </tr> *@
                            </tbody>
                        </table>
                        <div class="col-xs-12">
                            <div class="alert alert-info alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4>
                                    
                                </h4>
                             
                            </div>
                        </div>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">My Profile</h4>
            </div>
            <div class="modal-body">
                <div role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <h3>Gender:</h3>
                            @* <asp:DropDownList ID="ddlgender" class="form-control" runat="server">
                                <asp:ListItem Value="0">Select</asp:ListItem>
                                <asp:ListItem Value="1">Male</asp:ListItem>
                                <asp:ListItem Value="2">Female</asp:ListItem>
                            </asp:DropDownList> *@
                        </div>
                        <div class="form-group">
                            <h3>Date of Birth:</h3>
                            <asp:TextBox ID="txtDob" class="form-control" placeholder="Date of Birth" Width="500px" runat="server"></asp:TextBox>
                            <script>
                                $j('#Main1_txtDob').Zebra_DatePicker({
                                    view: 'years',
                                    direction: [1, true],
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <h3>Home County:</h3>
                            @* <asp:DropDownList ID="ddlCounty" class="form-control" runat="server"></asp:DropDownList> *@
                        </div>
                        <div class="form-group">
                            <h3>Tribe:</h3>
                            @* <asp:DropDownList ID="ddlTribe" class="form-control" runat="server"></asp:DropDownList> *@
                        </div>
                        <div class="form-group">
                            <h3>Disability Status:</h3>
                           @*  <asp:DropDownList ID="ddlDisabled" class="form-control select2" runat="server">
                                <asp:ListItem Value="1">None</asp:ListItem>
                                <asp:ListItem Value="2">Disabled</asp:ListItem>
                            </asp:DropDownList> *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" runat="server" onserverclick="btnUpdate_ServerClick">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-default2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update your KNEC Index Number</h4>
            </div>
            <div class="modal-body">
                <div role="form">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="knecNum">KNEC Index Number:</label>
                            <asp:TextBox class="form-control" placeholder="Enter your KNEC Index Number" ID="knecNum" runat="server"></asp:TextBox>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="knecBtn">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-default3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update your Learning Center</h4>
            </div>
            <div class="modal-body">
                <div role="form">
                    <div class="box-body">

                        <div class="form-group">

                            <label for="lcenter">Select Siala TTI Center:</label>
                           @*  <asp:DropDownList ID="kcenter" class="form-control" runat="server"></asp:DropDownList> *@
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
