@{
    Layout = "./_DashboardLayout.cshtml";
    ViewBag.Title = "Fee Statement";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Fee Statements</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="small">Date</th>
                                <th class="small">Ref #</th>
                                <th class="small">Description</th>
                                <th class="small">Debit Amount</th>
                                <th class="small">Credit Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="small">Date</th>
                                <th class="small">Ref #</th>
                                <th class="small">Description</th>
                                <th class="small">Debit Amount</th>
                                <th class="small">Credit Amount</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>